body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
.color-orange{
    color: orange;
}
.top-banner{
    display: flex;
    padding: 30px;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 40px;
    padding-left: 2%;
}
.half-width img{
    width: 90%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(#ffa805ee, #db6e62);
    padding: 10px 25px;
    border-radius: 5px;
    font-weight: 700;
    color: white;
}
h1{
    font-size: 50px;
}
h3{
    font-size: 30px;
}
.dream-area{
    display: flex;
    padding: 30px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    margin-bottom: 100px;
    background-position: right;
}
.experiences-area{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
}
#full-stack{
    box-shadow: 10px 10px 50px #008000;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
    margin-bottom: 100px;
}
#baby-web{
    box-shadow: 10px 10px 50px #008000;
    border-radius: 10px;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    border-left: 7px solid;
    border-image: linear-gradient(purple, tomato);
    border-image-slice: 1;
    margin-bottom: 100px;
}
footer{
    text-align: center;
}
